body {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
}

.fade-in {
    animation: fadeIn 0.7s ease-in forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
